# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- IDE (IntelliJ IDEA) ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Скрытые файлы операционных систем ---
.DS_Store
Thumbs.db

# --- Логи и временные файлы ---
*.log
logs/
tmp/